.photo-grid {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 48px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, calc((100% - 48px) / 4));
  grid-template-rows: repeat(3, auto);
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, calc((100% - 28px) / 3));
    grid-template-rows: repeat(4, auto);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, calc((100% - 16px) / 2));
    grid-template-rows: repeat(6, auto);
    gap: 16px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    gap: 12px;
    padding: 0 16px;
  }
}
