.intro__list-item {
  font-family: 'Inter', 'Arial', sans-serif;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
