.intro {
  width: 100%;
  margin: 0;
  padding: 92px 48px;
  max-width: 1080px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px;
  }
}
