.places__place {
	margin: 80px 0 0;
}

.places__place:first-child {
	margin: 0;
}

@media screen and (max-width: 1023px) {
	.places__place {
		margin: 73px 0 0;
	}
}

@media screen and (max-width: 767px) {
	.places__place {
		margin: 50px 0 0;
	}
}