.cover__content {
  text-decoration: none;
  max-width: 1184px;
  height: calc(100vw * 0.625);
  max-height: 740px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(./../../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cover__content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  transition: opacity 1s;
  opacity: 0.3;
}

.cover__content:hover:before {
  opacity: 0.8;
}


@media screen and (max-width: 1279px) {
  .cover__content {
    max-width: 1279px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__content {
    max-height: 640px;
  }
}

@media screen and (max-width: 767px) {
  .cover__content {
    max-height: 480px;
  }
}
